/*

Main scss style sheet

*/
* {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: white;
}

.bg-color--red {
  background-color: red;
}

.bg-color--blue {
  background-color: blue;
}

.bg-color--gray {
  background-color: gray;
}

.bg-color--black {
  background-color: black;
}

.bg-color--white {
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.container--90w {
  width: 90%;
  padding: 1em 1em 1em 1em;
}

.container--80w {
  width: 80%;
  padding: 1em 1em 1em 1em;
}

.container--70w {
  width: 70%;
  padding: 1em 1em 1em 1em;
}

.container--60w {
  width: 60%;
  padding: 1em 1em 1em 1em;
}

.container--50w {
  width: 50%;
  padding: 1em 1em 1em 1em;
}

.container--40w {
  width: 40%;
  padding: 1em 1em 1em 1em;
}

.container--30w {
  width: 30%;
  padding: 1em 1em 1em 1em;
}

.container--20w {
  width: 20%;
  padding: 1em 1em 1em 1em;
}

.container--10w {
  width: 10%;
  padding: 1em 1em 1em 1em;
}

nav {
  padding: 0.56em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000000000000000;
}

.flex--center {
  display: flex;
  justify-content: center;
}

.flex--end {
  display: flex;
  justify-content: flex-end;
}

.btn {
  color: initial;
  text-decoration: none;
  padding: 2em;
  text-transform: capitalize;
  font-size: smaller;
  font-weight: 100;
}
.btn:hover {
  color: red;
}

.btn--rectangle {
  background-color: initial;
  text-decoration: none;
  padding: 0.85em 1.7em 0.85em 1.7em;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 100;
  border: 1px solid rgb(255, 255, 255);
  color: white;
}
.btn--rectangle:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.list {
  list-style: none;
}

.list--btn {
  display: inline;
}

.icon {
  width: 10px;
  rotate: 90deg;
}

.banner--main {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: inherit;
  position: absolute;
  top: 4.8em;
}

.banner--img {
  z-index: 0;
}

.banner--body {
  position: absolute;
  top: 7.8em;
  z-index: 1000000000;
  padding: 0 0 0 2em;
}
.banner--body .banner--title {
  color: white;
}
.banner--body .banner--title h1 {
  font-size: 2.9em;
  line-height: 1.05em;
  text-transform: uppercase;
}
.banner--body .banner--subtitle {
  color: beige;
}
.banner--body .banner--subtitle p {
  line-height: 2.9em;
  font-size: smaller;
  font-weight: 100;
}
.banner--body .banner--btn {
  padding: 4.2em 2em 3em 0em;
}

.banner--deco-top {
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0.3;
  -webkit-clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
  clip-path: polygon(0 0, 40% 0, 25% 100%, 0% 100%);
  background: rgba(0, 0, 0, 0.582);
  height: 99.5%;
  width: 100%;
}

.banner--deco-bot {
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0.3;
  -webkit-clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
  clip-path: polygon(0 0, 25% 0, 40% 100%, 0% 100%);
  background: rgba(0, 0, 0, 0.753);
  height: 99.5%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
