.bg-color--red{
    background-color: red;
}

.bg-color--blue{
    background-color: blue;
}

.bg-color--gray{
    background-color: gray;
}

.bg-color--black{
    background-color: black;
}

.bg-color--white{
    background-color: white;
}